* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma', sans-serif;
    background-image: linear-gradient(to right, lightsalmon, plum, lightsalmon);
}

button {
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    transition: .5s;
    text-decoration: none;
}

a:active {
    color: none;
}

a:hover {
    color: wheat;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.welcome {
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
}

.shop-item__btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 0 30px;
}

.count-btn {
    background: none;
    font-size: 30px;
    border: none;
}

.btn-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 0 20px;
}

.btn-wrapper button {
    transition: .5s;
    font-size: 20px;
    padding: 10px 15px;
    background: none;
}

.btn-wrapper button:hover {
    box-shadow: 2px -2px 10px purple, -2px 2px 10px purple;
}

.input-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
}

.input {
    transition: .4s;
    border-radius: 5px;
    padding: 5px 10px;
}

.input:focus {
    outline: none;
    box-shadow: 5px -5px 20px aqua, -5px 5px 20px aqua;
}

.add-heart-btn {
    padding: 10px 15px;
}

.img-wrapper {
    max-width: 120px;
}

.nav {
    background-image: linear-gradient(90deg, purple, lightblue, aqua);
    width: 100%;
    padding: 10px 20px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.link-wrapper {
    display: flex;
    gap: 0 55px;
    font-size: 22px;
}

.balance {
    padding: 10px 15px;
    background: plum;
    border-radius: 10px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    gap: 0 10px;
}

.balance-icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: yellow;
    border: 3px solid gold;
}

.earn__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    gap: 40px 0px;
}

.money-clicker {
    width: 200px;
    height: 200px;
    background: yellow;
    border: 4px solid gold;
    border-radius: 50%;
    animation: money-scale 20s infinite;
    transition: 1s;
}

.money-clicker:hover {
    box-shadow: 15px -15px 30px aquamarine, -15px 15px 30px aquamarine;
}

.shop {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    width: 100%;
    position: relative;
}

@property --color-gradiend-start {
    syntax: '<color>';
    inherits: false;
    initial-value: coral;
}

@property --color-gradiend-end {
    syntax: '<color>';
    inherits: false;
    initial-value: yellow;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: lightseagreen;
    background-image: linear-gradient(to right, var(--color-gradiend-start), var(--color-gradiend-end));
    padding: 30px;
    gap: 30px 0px;
    transition:
        --color-gradiend-start 1s .15s,
        --color-gradiend-end 1s .15s;
    border-radius: 20px;
}

.shop-item:hover {
    --color-gradiend-start: purple;
    --color-gradiend-end: skyblue;
}


.shop-item__title {
    align-self: center;
    text-align: center;
    font-size: 30px;
    color: black;
}

.shop-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.buy-shop-item {
    margin-top: 20px;
    padding: 15px 25px;
    align-self: center;
}

.shop-item__img-container {
    max-height: 300px;
    border-radius: 20px;
    /* overflow: hidden; */
}

.shop-item__img-container img {
    cursor: pointer;
    transition: .7s .4s;
}

.shop-item__img-container img:hover {
    transform: scale(1.07);

}

.balance__not-enough-notation {
    position: fixed;
    background: rgba(16, 76, 80, 0.7);
    right: 4%;
    bottom: 4%;
    color: whitesmoke;
    opacity: 0;
    transition: 1s;
    font-size: 20px;
    padding: 20px;
    line-height: 5px;
    border-radius: 20px;
    border: 3px solid red;
}

.add-new-shopCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, lightseagreen, lightgray, white, lightgray, lightseagreen);
}

.add-new-shopCard__title {
    font-size: 25px;
    letter-spacing: 2;
}

.add-new-shopCard__form {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
    z-index: 5;
}

.add-new-shopCard__form input:not([type=submit]) {
    padding: 15px 20px;
    background: transparent;
    border-radius: 15px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 25px;
    z-index: 5;
}

.add-new-shopCard__form input[type=file] {
    width: 0.1px;
    height: 0.1px;
    top: 50%;
    left: 54%;
    opacity: 0;
    background: transparent;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -10;
}

.input-file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
}

.donwload-icon {
    width: 230px;
    height: 230px;
    background: rgba(50, 205, 50, .7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.donwload-icon-arrow {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 85px;
    height: 85px;
    border-radius: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 15px solid whitesmoke;
    border-top: none;
    border-left: none;
}

.donwload-icon::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 15px;
    background: white;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.donwload-icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 78%;
    background: whitesmoke;
    height: 10px;
    width: 120px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.download-hint {
    padding: 15px 20px;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    background: rgba(0, 191, 255, .7);
    border-radius: 20px;
}

.submit-form-btn {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: slategray;
    color: cornsilk;
}

.buy-btn {
    display: flex;
    font-size: 14px;
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
    gap: 0px 10px;
    background: lightyellow;
    border: none;
    border-radius: 20px;
    transition: .5s;
}

.buy-btn:hover {
    box-shadow: 10px -10px 30px lightpink, -10px 10px 30px lightpink;
}

.inventory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    margin: 50px auto 0px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.without-inventory-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.without-inventory-items div {
    font-size: 30px;
    max-width: 450px;
    line-height: 1.5;
}

.inventory__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    width: 600px;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    height: 350px;
    box-shadow: 2px -2px 10px aquamarine, -2px 2px 10px aquamarine;
    background-image: linear-gradient(lightsteelblue, lightsteelblue, rgba(0, 255, 255, .7));
}

.inventory-item__img-container {
    max-width: 220px;
    border-radius: 30%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory-item__title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Castellar", sans-serif;
    color: white;
    text-shadow: 20px -20px 40px red, -20px 20px 40px red;
    transition: .5s;
    letter-spacing: 1.7px;
}

.inventory-item__price {
    font-size: 25px;
    padding: 5px 28px;
    margin-top: 10px;
    background: #79a471;
    font-family: 'Bradly Hand ITC', sans-serif;
    color: white;
}

.inventory-item__count {
    font-size: 24px;
    position: absolute;
    top: 2%;
    right: 3%;
    background: orange;
    padding: 10px 15px;
    border-radius: 50%;

    font-family: "Kristen ITC", sans-serif;
    color: beige;
}

.inventory-item__sell {
    margin-top: 10px;
    padding: 10px 15px;
    background: wheat;
}











@keyframes money-scale {
    0% {
        transform: scale(1);

    }

    33% {
        transform: scale(1.1);
    }

    66% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes show-notation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}